# MQTT Configuration
MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_TOPIC=sensor/data

# Publisher Configuration
PUBLISH_INTERVAL=10

# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017
DB_NAME=ingestionDB
COLLECTION_NAME=messages

# Batch Processing Configuration
BATCH_SIZE=1000
FLUSH_INTERVAL=5000

# Server Configuration
PORT=5000